<div class="navbar bg-base-200 shadow-sm">
  <div class="navbar-start">
    <label for="my-drawer" class="btn btn-ghost btn-circle drawer-button lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </label>
    <a routerLink="/dashboard" class="btn btn-ghost text-xl normal-case hidden sm:flex">Panel Właściciela</a>
  </div>

  <div class="navbar-end space-x-2">
    @if (businessId) {
    <a [href]="'/business/' + businessId" target="_blank" class="btn btn-ghost btn-circle" title="Podgląd strony firmowej">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
        <path fill-rule="evenodd"
          d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a.75.75 0 010-1.113ZM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
          clip-rule="evenodd" />
      </svg>
    </a>
    }

    <a routerLink="/dashboard/chat" class="btn btn-ghost btn-circle relative" title="Wiadomości">
      <div class="indicator">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
        </svg>
        @if (presenceService.totalUnreadCount$ | async; as count) {
          @if (count > 0) {
            <span class="badge badge-sm badge-error indicator-item">{{ count }}</span>
          }
        }
      </div>
    </a>
    <app-notification-bell></app-notification-bell>
    <button class="btn btn-outline btn-error" (click)="authService.logout()">Wyloguj</button>
  </div>
</div>