<div class="login-container">
  <div class="card md:flex-row w-full max-w-4xl shadow-2xl bg-base-100 animated-card rounded-2xl overflow-hidden">

    <div
      class="welcome-panel md:w-1/2 p-8 md:p-12 text-black hidden md:flex flex-col justify-center items-center text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-24 h-24 mb-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
      </svg>
      <h2 class="text-3xl font-bold mb-2">Cieszymy się, że jesteś!</h2>
      <p class="opacity-80">Zaloguj się, by zarządzać swoimi rezerwacjami i odkrywać nowe usługi.</p>
    </div>

    <div class="w-full md:w-1/2">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="card-body p-8 md:p-12">
        <h1 class="text-3xl font-bold mb-6 text-center md:text-left">Zaloguj się</h1>

        <div class="form-control">
          <label class="label"><span class="label-text">Adres Email</span></label>
          <input type="email" placeholder="twoj.email@przyklad.com"
            class="input input-bordered w-full transition-all duration-300" formControlName="email"
            [class.input-error]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" />

          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <span class="label-text-alt text-error mt-2">Wprowadź poprawny adres email.</span>
          }
        </div>

        <div class="form-control mt-4">
          <label class="label"><span class="label-text">Hasło</span></label>
          <input type="password" placeholder="••••••••" class="input input-bordered w-full transition-all duration-300"
            formControlName="password"
            [class.input-error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" />

          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <span class="label-text-alt text-error mt-2">Hasło jest wymagane.</span>
          }
        </div>

        <div class="form-control mt-8">
          <button class="btn btn-primary btn-lg w-full" type="submit" [disabled]="loginForm.invalid">
            <span [class.hidden]="false">Zaloguj</span>
          </button>
        </div>

        <div class="text-center mt-6">
          <a routerLink="/register" class="link link-hover text-sm">Nie masz jeszcze konta? Zarejestruj się</a>
        </div>
      </form>
    </div>
  </div>
</div>