<div class="modal modal-open">
  <div class="modal-box w-11/12 max-w-lg">

    @if (employee) {
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" (click)="closed.emit()">✕</button>

      <h3 class="font-bold text-xl pb-4 border-b border-base-300">
        Zarządzaj usługami dla: {{ employee.firstName }} {{ employee.lastName }}
      </h3>

      @if (isFormReady) {
        <form [formGroup]="servicesForm" (ngSubmit)="onSubmit()" class="mt-6">
          
          <div class="space-y-1 max-h-80 overflow-y-auto pr-2" formArrayName="services">

            @for (service of allServices; track service.id; let i = $index) {
              <div class="p-3 hover:bg-base-200 rounded-lg transition-colors duration-200">
                <label class="label cursor-pointer justify-start gap-4 p-0">
                  <input type="checkbox" class="checkbox checkbox-primary" [formControlName]="i" />
                  <span class="label-text text-base">{{ service.name }}</span>
                </label>
              </div>
            }

          </div>

          <div class="modal-action mt-8 border-t border-base-200 pt-6">
            <button type="button" class="btn btn-ghost" (click)="closed.emit()">Anuluj</button>
            <button 
              type="submit" 
              class="btn btn-primary"
              [disabled]="!servicesForm.valid || !servicesForm.dirty">
              Zapisz zmiany
            </button>
          </div>
        </form>
      } @else {
        <div class="flex justify-center items-center p-16">
          <span class="loading loading-spinner loading-lg text-primary"></span>
        </div>
      }
    }
  </div>
  
  <form method="dialog" class="modal-backdrop">
    <button (click)="closed.emit()">close</button>
  </form>
</div>