@model BookLocal.Data.Data.CMS.SekcjaCms

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SekcjaCms</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KluczSekcji" class="control-label"></label>
                <input asp-for="KluczSekcji" class="form-control" />
                <span asp-validation-for="KluczSekcji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kolejnosc" class="control-label"></label>
                <input asp-for="Kolejnosc" class="form-control" />
                <span asp-validation-for="Kolejnosc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedByPracownikId" class="control-label"></label>
                <select asp-for="LastModifiedByPracownikId" class ="form-control" asp-items="ViewBag.LastModifiedByPracownikId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

